<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'registrar_clientes' %}">
              <span data-feather="home"></span>
              Registrar Clientes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registrar_cuentas' %}">
              <span data-feather="file"></span>
              Registrar Cuentas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registrar_transaccion' %}">
              <span data-feather="shopping-cart"></span>
              Registrar Transacciones
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registrar_transferencia' %}">
              <span data-feather="repeat"></span>
              Registrar Transferencias
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'consulta_clientes' %}">
              <span data-feather="users"></span>
              Consultas Clientes
            </a>
          </li>
        
        </ul>
      </div>
    </nav>

    